{% extends "library/base.html" %}
{% load static %}
{% load bootstrap5 %}

{% block title %}
  Cart
{% endblock %}

{% block content %}
  <h1>Cart</h1>
  <table class="cart">
    <thead>
      <tr>
        <th>Book</th>
        <th>Quantity</th>
        <th>Remove</th>
      </tr>
    </thead>
    <tbody>
      {% for item in cart %}
        {% with book=item.book %}
          <tr>
            <td>
              <a href="{{ book.get_absolute_url }}">
              </a>
            </td>
            <td>{{ book.title }}</td>
            <td>
              <form action="{% url "cart:cart_add" book.id %}" method="post">
                {{ item.update_quantity_form.quantity }}
                {{ item.update_quantity_form.update }}
                <input type="submit" value="Update">
                {% csrf_token %}
              </form>
            </td>
            <td><a href="{% url "cart:cart_remove" book.id %}">Remove</a></td>
            <td class="num">${{ item.price }}</td>
            <td class="num">${{ item.total_price }}</td>
          </tr>
        {% endwith %}
      {% endfor %}
      <tr class="total">
        <td>Total</td>
        <td colspan="4"></td>
        <td class="num">${{ cart.get_total_price }}</td>
      </tr>
    </tbody>
  </table>
  <p class="text-right">
    <a href="{% url "booklist" %}" class="button light">Continue shopping</a>
    <a href="{% url "orders:order_create" %}" class="button">
      Checkout
    </a>
  </p>
{% endblock %}